<!DOCTYPE html>
<html>
<head>
  <% include ../partials/headercontent %>
  <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="mdbootstrap/js/popper.min.js"></script>
  <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="scripts/canvasjs.min.js"></script>
  <script type="text/javascript" src="icheck/icheck.min.js"></script>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Analogwerte anzeigen</h3>
          </div>
          <div class="box-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="datepicker">Zeitspanne</label>
                  <div class="input-daterange input-group" id="datepicker">
                      <input type="text" class="input-sm form-control" id="dateStart" name="start" value="07.09.2016"/>
                      <span class="input-group-addon">-</span>
                      <input type="text" class="input-sm form-control" id="dateEnd" name="end" value="23.09.2017" />
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputDingroup">DinGroup</label>
                  <select id="inputDingroup" class="form-control">
                    <option selected>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>Allgemein (2034)</option>
                    <option>Motor 1 (2035)</option>
                    <option>Motor 2 (2036)</option>
                    <option>Betriebsstunden (2037)</option>
                    <option>Hydraulik (2038)</option>
                    <option>Getriebe Arbeitsfahrt (2039)</option>
                    <option>Partikelfilter (2040)</option>
                    <option>Alarme (2041)</option>
                    <option>Warnungen (2042)</option>
                    <option>Hinweise (2043)</option>
                    <option>Getriebe Überstellfahrt (2044)</option>
                    <option>Bremssystem (2045)</option>
                    <option>Gleit_Schleuderschutz (2046)</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputValue">Wert</label>
                  <select id="inputValue" class="form-control">
                    <option selected>Wert 1</option>
                    <option>Wert 2</option>
                    <option>Wert 3</option>
                    <option>Wert 4</option>
                    <option>Wert 5</option>
                    <option>Wert 6</option>
                    <option>Wert 7</option>
                    <option>Wert 8</option>
                    <option>Wert 9</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputVisualize">Darstellung</label>
                  <select id="inputVisualize" class="form-control">
                    <option selected>column</option>
                    <option>line</option>
                    <option>scatter</option>
                  </select>
                </div>
                <div class="form-group col-md-1">
                  <button type="button" id="buttonShow" class="btn btn-block btn-primary"><i class="fa fa-play fa-lg"></i></button>
                </div>
              </div>
              <div class="form-row checkbox-row">
                <div class="form-group col-md-2">
                  <input type="checkbox" class="checkbox" id="checkboxZero" text="0 anzeigen">
                </div>
                <div class="form-group col-md-3">
                  <input type="checkbox" class="checkbox" id="checkboxRange" text="Normalen Bereich anzeigen" checked>
                </div>
              </div>
            </form>
            <div id="chart1" style="height: 370px; width: 100%; margin-top: 100px;">
              <img id="loadingImage" src="images/loading_train.gif"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Verteilung auf die DinGroups</h3>
          </div>
          <div class="box-body">
            <div id="chart2" style="height: 370px; width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="scripts/dingroupValues.js"></script>
  <script type="text/javascript" src="scripts/analogvalues.js"></script>
</body>
</html>
