<!DOCTYPE html>
<html>
<head>
  <% include ../partials/headercontent %>
  <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
  <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="mdbootstrap/js/popper.min.js"></script>
  <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Korrelationen</h3>
          </div>
          <div class="box-body">
            <img class="center-image" src="images/correlations.png">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">ROC Kurven</h3>
          </div>
          <div class="box-body">
            <p>Überschrift</p>
            <div class="row">
              <div class="col-md-6">
                <div class="thumbnail">
                  <a href="images/roc_getriebe.png">
                  <div class="caption">
                    <p>ROC-Kurve der linearen SVM auf Getriebedaten</p>
                  </div>
                    <img src="images/roc_getriebe.png" alt="Lights" style="width:100%">
                    <div class="caption">
                      <p>ROC-Kurve der linearen SVM auf Getriebedaten</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="thumbnail">
                  <a href="images/roc2.png">
                    <img src="images/roc2.png" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p>ROC-Kurve der nichtlinearen (rbf) SVM auf Getriebedaten</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="thumbnail">
                  <a href="images/roc_getriebe.png">
                    <img src="images/roc_motor_lin.png" alt="Lights" style="width:100%">
                    <div class="caption">
                      <p>ROC-Kurve der linearen SVM auf Motordaten</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="thumbnail">
                  <a href="images/roc2.png">
                    <img src="images/roc_motor.png" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p>ROC-Kurve der nichtlinearen (rbf) SVM auf Motordaten</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
