<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Menü</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li id="navbarText"><a href="/">Analogwerte</a></li>
        <li id="navbarText"><a href="/">Digitalwerte</a></li>
        <li id="navbarText"><a href="/">Seite 3</a></li>
      </ul>
    </div>
  </div>
</div>
